<div class="header box-shadow-1">
  <div class="logo-container">
    <span (click)="navigateTo('home')" class="logo link">Візуальний Розклад</span>
    <span class="slogan">Щасливі діти, щасливі ми</span>
  </div>
  <div class="menu">
    <a class="menu-item">Про Візуальний Розклад</a>
    <a class="menu-item">Контакти</a>
    <a class="menu-item">Підтримка</a>
    <a class="menu-item login-button" (click)="navigateTo('account/login')">Увійти</a>

    <!-- <a class="menu-item" (click)="navigateTo('new-account/signin')">Зареєструватись</a> -->
  </div>

</div>
