<div class="dashboard-page">
  <div class="dashboard-wrapper p-shadow-2
  ">
  <div class="intro-text">
   Розвиваємо сильні сторони із візуальним розкладом!
  </div>
    <div class="swiper-container">
      <div class="swiper-wrapper">
        <div class="swiper-slide box-shadow-1">
          <img src="./assets/img/col-1.jpg" alt="" />
        </div>
        <div class="swiper-slide box-shadow-1">
          <img src="./assets/img/col-2.jpg" alt="" />
        </div>
        <div class="swiper-slide box-shadow-1">
          <img src="./assets/img/col-3.jpg" alt="" />
        </div>
        <div class="swiper-slide box-shadow-1">
          <img src="./assets/img/col-4.jpg" alt="" />
        </div>
      </div>
    </div>
    <button
      pButton
      pRipple
      type="button"
      label="Розпочати роботу"
      (click)="navigateTo('private/create-schedule')"
      class="p-button-raised p-button-text start-work-btn"
    ></button>
  </div>
</div>
