<div class="home-page">
  <div class="bunner">
    <span class="bunner-text p-text-uppercase"
      >Розклад для дітей на кожен день</span
    >
  </div>
  <div #whyVisual class="text-block-1 p-p-5">
    <div
      class="p-d-flex p-jc-around p-ai-center"
      style="height: -webkit-fill-available"
    >
      <div class="pros-list-wrapper">
        <div
          class="p-d-flex p-flex-column p-ai-center"
          *ngFor="let circle of circles"
        >
          <span class="p-mb-5 pros-title"> {{ circle.title }}</span>
          <div
            [style.backgroundImage]="'url(' + circle.imgUrl + ')'"
            class="pros-circle p-d-flex p-ai-center p-jc-center"
          >
            <i class="pi pi-check"></i>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="text-block-2"></div>
</div>
