<div class="home-page">
  <div class="bunner">
    <span class="bunner-text p-text-uppercase"
      >Розклад для дітей на кожен день</span
    >
  </div>
  <article class="article-1 p-p-5">
    <div class="p-d-flex p-jc-center p-py-5">
      <span class="size-3">Що таке Візуальний розклад?</span>
    </div>
    <div class="p-d-flex p-jc-around p-ai-center">
      <div class="article-visual-schedule size-1">
        <div>
        <span>Візуальний розклад</span>
           дня роботи з дітьми з особливими освітніми
          потребами та розладами аутичного спектру (РАС) – необхідний етап
          соціалізації та гармонійного розвитку. Це як дорожня карта, яка дає
          можливість долати всі труднощі та пройти точно по наміченому шляху.
          <br>
          <br>
          Дітям з особливими потребами важливо відчувати структурність та
          упорядкованість життя, отже адаптуватися та реалізуватися як
          рівноправні та повноцінні члени суспільства. Таким дітям необхідно
          активніше включатися в освітній процес. У закладах освіти вони мають
          змогу осягнути основи незалежного життя, засвоїти нові форми
          поведінки, спілкування, свідомо робити вибір та приймати самостійні
          рішення…
        </div>
      </div>

      <figure>
        <img
          src="assets/img/table-planer.png"
          class="planer-img"
          alt="Table with planer and a cup of coffee"
        />
      </figure>
    </div>
  </article>
  <article class="article-2"></article>
</div>
