/* Указываем box sizing */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Убираем внутренние отступы */
ul,
ol {
  padding: 0;
}

/* Убираем внешние отступы */
body,
h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

/* Выставляем основные настройки по-умолчанию для body */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}
html {
  // font-family: 'Montserrat', sans-serif;
  font-family: "Merriweather Sans", sans-serif;
  font-size: 14px;
}
/* Удаляем стандартную стилизацию для всех ul и il, у которых есть атрибут class*/
ul[class],
ol[class] {
  list-style: none;
}

/* Элементы a, у которых нет класса, сбрасываем до дефолтных стилей */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Упрощаем работу с изображениями */
img {
  max-width: 100%;
  display: block;
}

/* Указываем понятную периодичность в потоке данных у article*/
article > * + * {
  margin-top: 1em;
}

/* Наследуем шрифты для инпутов и кнопок */
input,
button,
textarea,
select {
  font: inherit;
}

/* REMOVED ANIMATIONS */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

@import url("https://fonts.googleapis.com/css2?family=Pangolin&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Neucha&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Sarabun&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Merriweather+Sans:wght@300&display=swap");
@import "~swiper/swiper-bundle";
.border-top {
  border-top: 1px solid lightblue;
}

.header {
  //  font-family: "Lato", sans-serif;
  font-family: "Merriweather Sans", sans-serif;
  height: 5rem;
  background-color: #ffffff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  border-bottom: 1px solid #80808045;
  .logo-container {
    display: flex;
    .logo-icon {
      width: 45px;
      height: 45px;
      margin-right: 5px;
      margin-left: 10px;
    }

    .logo {
      font-family: "Neucha", cursive;
      font-size: 2rem;
      transition: 0.5s ease;
      font-weight: 600;
      &:hover {
        cursor: pointer;
      }
    }

    .link {
      text-decoration: none;
      line-height: 1;
      letter-spacing: 3px;
      position: relative;
      z-index: 0;
      display: inline-block;
      padding: 10px;
      overflow: hidden;
      color: #5bcadc;
      vertical-align: bottom;
      transition: color 0.3s ease-out;
    }

    .link::before {
      content: "";
      position: absolute;
      z-index: -1;
      top: 0;
      left: 0;
      transform: translateY(calc(100%));
      width: 100%;
      height: 100%;
      background-image: linear-gradient(50deg, #3bd3d8, #12afaf 100%);
      // background-color: #64b3f4;
      transition: transform 0.25s ease-out;
    }

    .link:hover {
      color: #ffffff;
      cursor: pointer;
      border-radius: 4px;
    }

    .link:hover::before {
      transform: translateY(0);
      transition: transform 0.25s ease-out;
    }
  }

  .right-menu {
    color: rgb(17, 17, 17);
    .menu-item {
      text-transform: uppercase;
      margin: 0 20px;
      transition: color 0.3s ease-out;

      &:hover {
        cursor: pointer;
        color: rgb(226, 138, 138);
      }
    }

    .login-button {
      color: white;
      font-weight: 600;
      border: none;
      background-color: #53bdd4;
      transition: background-color 0.3s ease-out;
      &:hover {
        cursor: pointer;
        background-color: #53bcd4bb;
        color: #ffffff;
      }
    }
  }
}

.home-page {
  .bunner {
    height: calc(100vh - 15rem);
    background: url("img/main-bg-6.jpg");
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    opacity: 0.85;

    .bunner-text {
      display: inline-block;
      width: 40%;
      font-size: 2rem;
      font-weight: 600;
      color: #ffffff;
      background: linear-gradient(
        90deg,
        #ffffff 0%,
        rgba(255, 255, 255, 0) 80%
      );
      line-height: 1.6;
      // padding: 100px 50px;
      padding: 100px 0px 100px 200px;
      position: absolute;
      top: 17%;
      border-radius: 4px;
    }
  }
  .text-block-1 {
    height: 65vh;
    background-color: whitesmoke;
    .pros-list-wrapper {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-around;
      .pros-circle {
        width: 190px;
        height: 190px;
        border-radius: 50%;
        background: url("img/main-bg-2.jpg");
        background-position: center;
        background-size: cover;
        background-clip: content-box;
        transform: rotateZ(0deg);
        transition: all 1.3s;
        color: transparent;
        border: 6px solid transparent;
        &:hover {
          cursor: pointer;
          transform: rotateZ(360deg);
          color: rgb(255, 255, 255);
          font-size: 6rem;
          font-weight: 600;
          opacity: 0.7;
          border: 6px solid #a8d891;
        }
        .pi {
          font-size: 6rem;
          font-weight: 600;
        }
      }
      .pros-title {
        // font-family: Pangolin;
        font-family: Neucha;
        font-size: 1.7rem;
        //font-weight: 600;
        color: #398494;
      }
    }
  }
  .text-block-2 {
    height: 40vh;
    background-color: rgb(54, 54, 54);
  }
}

.login-page {
  .login-page-container {
    height: calc(100vh - 9rem);
    background: url("img/login-1.jpg");
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    opacity: 0.75;
    .form-card {
      position: relative;
      left: 20%;
      width: 500px;
      height: fit-content;
      background-color: #ffffffe3;
      padding: 60px;
      border-radius: 4px;

      .p-field {
        display: flex;
        flex-direction: column;
        margin: 15px 0;
      }

      .signin-btn,
      .login-btn {
        background-color: #46a1b5;
      }

      .p-button-link {
        color: #2b6876;
      }
    }
  }
}

.dashboard-page {
  height: calc(100vh - 9rem);
  background-color: #a9c1d326;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  padding: 40px;
  .dashboard-wrapper {
    width: 100%;
    height: -webkit-fill-available;
    background-color: rgb(255, 255, 255);
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    .swiper-container {
      width: 90%;
      height: 300px;
    }

    .swiper-slide {
      text-align: center;
      font-size: 18px;
      background: #fff;

      /* Center slide text vertically */
      display: -webkit-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      -webkit-justify-content: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      -webkit-align-items: center;
      align-items: center;
    }
    .intro-text {
      width: 70%;
      font-size: 3rem;
      color: rgb(0, 159, 187);
      font-weight: bold;
      text-align: center;
      margin-bottom: 30px;
      font-family: "Neucha", cursive;
      letter-spacing: 5px;
    }
    .start-work-btn {
      width: 20%;
      height: 60px;
      border-radius: 6px;
      background-color: #53bdd4;
      color: rgb(255, 255, 255);
      font-size: 1.5rem;
      text-transform: uppercase;
      font-family: Neucha;
      letter-spacing: 3px;
      font-weight: bold;
      transition: all 0.4s;
      &:hover {
        background-color: #53bdd4;
        color: white;
      }
    }
  }
}

.footer {
  position: static;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 4rem;
  background-color: #212529;

  .footer-container {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
  }
}

// GENERAL STYLES
.layout-main {
  position: relative;
  min-height: calc(100vh - 9rem);
  background-color: rgb(255, 255, 255);
}

.layout-create-schedule {
  position: relative;
  min-height: calc(100vh - 9rem);
  background-color: #53bdd41a;
  .preview-card {
    transition: 0.5s ease;
    &:hover {
      background-color: #a8d891;
      cursor: pointer;
      color: #a8d891;
    }
  }
}

.box-shadow-1 {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.size-1 {
  font-size: 1.2rem;
}

.size-2 {
  font-size: 1.5rem;
}

.size-3 {
  font-size: 2rem;
}

.w-100 {
  width: 100%;
}

.w-50 {
  width: 50%;
}

.link-primary {
  color: #046dc4;
  cursor: pointer;
}

.font-family-Montserrat {
  font-family: "Montserrat", sans-serif;
}

.font-family-Sarabun {
  font-family: "Sarabun", sans-serif;
}

.font-family-Neucha {
  font-family: "Neucha", cursive;
}

// OVERRIDES
.p-component {
  font-family: "Lato", sans-serif;
  .p-button:focus {
    box-shadow: none;
    outline: none;
  }


}

.p-button {
  background-color: #28a1bb;
  border: 1px solid #28a1bb;
}

.p-button:enabled:hover {
  background-color: #19a4ca;
border: 1px solid #2385a1;
}

.p-button.p-button-secondary {
  background-color: #2385a1;
  border: 1px solid #2385a1;
}

.p-button.p-button-secondary:enabled:hover {
  background-color: #1f94b5;
border: 1px solid #2385a1;
}

.list-schedules-page {
  padding: 30px;
  background-color: #f0f8ff94;
  min-height: calc(100vh - 9rem);

  .schedules-table {
    width: 100%;
    background-color: #ffffff;
    border-radius: 3px;
    padding: 20px;
    margin-top: 20px;
  }
}

.view-schedule-page {
  padding: 30px;
  background-color: #f0f8ff94;
  .card {
    padding: 20px;
    background-color: #ffffff;
    margin-top: 20px;
    border-radius: 3px;

    .schedule-title {
      color: #53bdd4;
      font-weight: bold;
      letter-spacing: 4;
    }

    .p-card .p-card-body {
      background-color: aliceblue;
      border-radius: 4px;

      &:hover {
        background-color: #a8d891;
        cursor: pointer;
      }
    }
  }

  .custom-marker {
    display: flex;
    width: 2rem;
    height: 2rem;
    align-items: center;
    justify-content: center;
    background-color: #fff5d4;
    border-radius: 50%;
    z-index: 1;
  }

  ::ng-deep {
    .p-timeline-event-content,
    .p-timeline-event-opposite {
      line-height: 1;
    }
  }

  @media screen and (max-width: 960px) {
    ::ng-deep {
      .customized-timeline {
        .p-timeline-event:nth-child(even) {
          flex-direction: row !important;

          .p-timeline-event-content {
            text-align: left !important;
          }
        }

        .p-timeline-event-opposite {
          flex: 0;
        }

        .p-card {
          margin-top: 1rem;
        }
      }
    }
  }
}
.is-done {
  background-color: #a8d891;
}
