/* Указываем box sizing */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Убираем внутренние отступы */
ul,
ol {
  padding: 0;
}

/* Убираем внешние отступы */
body,
h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

/* Выставляем основные настройки по-умолчанию для body */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}
html {
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
}
/* Удаляем стандартную стилизацию для всех ul и il, у которых есть атрибут class*/
ul[class],
ol[class] {
  list-style: none;
}

/* Элементы a, у которых нет класса, сбрасываем до дефолтных стилей */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Упрощаем работу с изображениями */
img {
  max-width: 100%;
  display: block;
}

/* Указываем понятную периодичность в потоке данных у article*/
article > * + * {
  margin-top: 1em;
}

/* Наследуем шрифты для инпутов и кнопок */
input,
button,
textarea,
select {
  font: inherit;
}

/* REMOVED ANIMATIONS */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

@import url("https://fonts.googleapis.com/css2?family=Pangolin&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Neucha&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sarabun&display=swap');

.font-family-Montserrat {
  font-family: 'Montserrat', sans-serif;
}

.font-family-Sarabun {
  font-family: 'Sarabun', sans-serif;
}

.header {
  font-family: "Lato", sans-serif;
  height: 5rem;
  background-color: #ffffff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  .logo-container {
    display: flex;
    flex-direction: column;

    .logo {
      font-family: 'Neucha', cursive;
      font-size: 2rem;
      color: rgb(45, 45, 45);

      transition: 0.5s ease;
      &:hover {
        cursor: pointer;
      }

    }



    .link {
      text-decoration: none;
      line-height: 1;

      position: relative;
      z-index: 0;
      display: inline-block;
      padding: 5px;
      overflow: hidden;
      color: #333;
      vertical-align: bottom;
      transition: color 0.3s ease-out;
      border-radius: 5px;
    }

    .link::before {
      content: "";
      position: absolute;
      z-index: -1;
      top: 0;
      left: 0;
      transform: translateY(calc(100% - 2px));
      width: 100%;
      height: 100%;
      background-image: linear-gradient(60deg, #64b3f4 0%, #f4ff1b 100%);
      transition: transform 0.25s ease-out;
    }

    .link:hover {
      color: #fff;
      cursor: pointer;
    }
    .link:hover::before {
      transform: translateY(0);
      transition: transform 0.25s ease-out;
    }

    .slogan {
      font-size: 0.8rem;
      letter-spacing: 4px;
      padding-top: 3px;
    }
  }

  .menu {
    color: rgb(125, 125, 125);
    .menu-item {
      font-weight: 600;
      text-transform: uppercase;
      margin: 0 20px;
      transition: color 0.3s ease-out;

      &:hover {
        cursor: pointer;
        color: rgb(199, 133, 133);
      }
    }

    .login-button {
      color: white;
      font-weight: 600;
      border: none;
      transition:  background-color 0.3s ease-out;
      &:hover {
        cursor: pointer;
        background-color: #64b3f4;
        color: #ffffff;
      }
    }
  }
}

.home-page {
  .bunner {
    height: calc(100vh - 20rem);
    background: url("img/main-bg-6.jpg");
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    opacity: 0.85;

    .bunner-text  {
      display: inline-block;
      width: 40%;
      font-size: 2rem;
      font-weight: 600;
      color: #ffffff;
      background: linear-gradient(
        90deg,
        #a8d891 0%,
        rgba(255, 255, 255, 0) 100%
      );
      line-height: 1.6;
      padding: 100px;
      position: absolute;
      top: 133px;
      border-radius: 4px;
    }
  }
  .article-1 {
    height: 85vh;
    background-color: whitesmoke;
    figure {
      width: 30%;
    }
    .article-visual-schedule{
      width: 40%;
    }

  }
  .article-2 {
    height: 40vh;
    background-color: rgb(54, 54, 54);
  }
}
.login-page {
  .login-page-container {
    height: calc(100vh - 9rem);
    background: url("img/main-bg-6.jpg");
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    opacity: 0.75;
    .form-card {
      width: 500px;
      height: 600px;
      background-color: #ffffffe3;
      padding: 60px;

      .p-field {
        display: flex;
        flex-direction: column;
        margin: 15px 0;
      }
    }
  }

}
.footer {
  position: static;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 4rem;
  background-color: #212529;

  .footer-container {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
  }
}

// GENERAL STYLES
.layout-main {
  position: relative;
  min-height: calc(100vh - 9rem);
  background-color: rgb(255, 255, 255);
}
.box-shadow-1 {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.size-1 {
  font-size: 1.2rem;
}

.size-2 {
  font-size: 1.5rem;
}

.size-3 {
  font-size: 2rem;
}

.link-primary {
  color: #046dc4;
  cursor: pointer;
}

// OVERRIDES
.p-component {
  font-family: "Lato", sans-serif;
  .p-button:focus {
    box-shadow: none;
    outline: none;
  }
}
